.red-color {
  color: #c41616;
}

.blue-color {
  color: #0bb8cc;
}

.green-color {
  color: #189318;
}

.orange-color {
  color: #cb791b;
}

.card-fixed-height {
  height: 80vh;
  padding-bottom: 50px;
}

ion-icon {
  font-size: 30vh;
  color: #999999;
}
