<ion-card class="ion-text-center ion-padding card-fixed-height ion-padding-bottom">
  <ion-card-title>Ordered requests</ion-card-title>
  <!--This is the list of all request-->
  <ion-content>
    <ion-card-content>
      <ion-list *ngIf="records.length; else noRecordsMessage">
        <ion-item *ngFor="let record of records">
          <ion-grid>
            <ion-col>
              <ion-text>Number: {{ record.number }}</ion-text>
            </ion-col>
            <ion-col>
              <ion-text>Result:</ion-text>
              <ion-text
                class="{{ getMultipleClassColor(record.multiples[0]) }}"
                *ngIf="record.multiples.length; else noResultMessage"
              >
                [{{ record.multiples }}]
              </ion-text>
              <ng-template #noResultMessage>
                <ion-text>None</ion-text>
              </ng-template>
            </ion-col>
          </ion-grid>
          <ion-button (click)="onDeleteRecord(record)" color="danger"> Remove </ion-button>
        </ion-item>
      </ion-list>
      <ng-template #noRecordsMessage>
        <h2>There are no records saved, please submit one number.</h2>
        <ion-icon name="alert-circle-outline"></ion-icon>
      </ng-template>
    </ion-card-content>
  </ion-content>
</ion-card>
