<ion-card class="ion-text-center ion-padding">
  <ion-card-title>Multiples of a number</ion-card-title>
  <ion-card-content>
    <ion-text>This app will help you found if a given number is a multiple of 3, 5 and 7</ion-text>

    <!--Basic form to validate number input-->
    <form [formGroup]="numberForm" novalidate (ngSubmit)="onSubmit()">
      <div class="form-group">
        <ion-item fill="outline" class="ion-margin-top">
          <ion-label position="stacked">Please enter the number</ion-label>
          <ion-input formControlName="number" type="number"></ion-input>
        </ion-item>
      </div>
      <div
        *ngIf="
          numberForm.controls['number']?.invalid &&
          numberForm.controls['number']?.dirty &&
          numberForm.controls['number'].touched
        "
        class="red-color ion-margin-top"
      >
        <div *ngIf="numberForm.controls['number'].errors">Please enter a valid number</div>
      </div>
      <ion-button class="ion-margin-top ion-margin-bottom" type="submit"> Calculate </ion-button>
    </form>

    <!--This is the display of the result-->
    <div *ngIf="selectedMultiple.number > 0" class="ion-padding">
      <ion-text class="result-text">Result for:</ion-text>
      <ion-text class="{{ classColor }} result-text">{{ selectedMultiple.number }}</ion-text>
    </div>
    <div *ngIf="selectedMultiple.number">
      <div *ngIf="selectedMultiple.multiples?.length; else noMultipleMessage">
        <ion-text class="{{ classColor }}">
          <h2>[{{ selectedMultiple.multiples }}]</h2>
        </ion-text>
      </div>
      <ng-template #noMultipleMessage>
        <h2>This number has no matching multiples for 3, 5 or 7</h2>
      </ng-template>
    </div>
  </ion-card-content>
  <ion-card-subtitle *ngIf="selectedMultiple.multiples?.length">
    <ion-icon name="ellipse" class="{{ classColor }}"></ion-icon>
    <ion-label>The smallest multiple is {{ selectedMultiple.multiples[0] }}</ion-label>
  </ion-card-subtitle>
</ion-card>
