<ion-app>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title><span translate>Title</span></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-lg="6">
        <app-multiple-visualization></app-multiple-visualization>
      </ion-col>
      <ion-col size="12" size-lg="6">
        <app-multiple-records></app-multiple-records>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-app>
